/*
 * Variables
 *
 ************************************************************************************************/


/*
 * Base
 *
 ************************************************************************************************/




/*
 * Layout
 *
 ************************************************************************************************/

#mediaquery { width: 100px; }
#mediaquery:after { content: "full"; }


/*
 * Modules
 *
 ************************************************************************************************/

