/*
 * site-wide SCSS variable declaration
 *
 ************************************************************************************************/

/*
 * font declarations
 *
 ********************************************************/

$sans-serif : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif :  Georgia, serif;
$brand-font : 'Helvetica Neue', Helvetica, Arial, sans-serif;